LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=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
LANGSMITH_PROJECT="interviewai"


EMAIL_ACCOUNTS__INTERVIEWAI__EMAIL_ADDRESS=silverfoxgadtech@gmail.com
EMAIL_ACCOUNTS__INTERVIEWAI__SMTP_HOST=smtp.gmail.com
EMAIL_ACCOUNTS__INTERVIEWAI__SMTP_PORT=465
EMAIL_ACCOUNTS__INTERVIEWAI__PASSWORD=123456789

CHECKPOINT_POSTGRES_URI=postgresql://neondb_owner:npg_W2oTgQbpj3fF@ep-plain-morning-aut0sg86.c-10.us-east-1.aws.neon.tech/neondb?sslmode=require
OPENROUTER_API_KEY=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
key="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"